body{
    background-color: rgba(0, 0, 0, 0.5);
}
input{
    width: 20%;
    padding: 15px 10px;
    display: block;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 2em;
}
.register{
    margin-left: 3%;
}
