body{
    background-image: url("image5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;


}
table{
    text-align: center;
    float: center;

margin:05;
padding:0;
width: 650px;
background-color: whitesmoke;
font-family: 'Times New Roman', Times, serif;


}
p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
}
tr a{
    display: inline-block;
    color:rgb(30, 29, 58);
    padding: 9px 18px;
    text-decoration:none
}
tr a:hover{
    background-color: rgb(29, 25, 70);
    color:white;
}
article{
color: aliceblue;
 
}
button{
    margin-top: 15%;
    margin-left: 45%;
}
button a{
    text-decoration: none;
}