body{
   /* background-image: url("agric8.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(0, 0,0,0.5);
}
.card{
    background-color: white;
    padding: 2%;
    width: 25%;
    height: 15%;
    border-radius: 2em;
    margin-left: 36%;


    
}
h2{
    color: white;
    text-align: center;
    font-size: 45px;
}
.Contact_form{
   /* background-color: white;*/
    padding: 30px 30px;
    width: 35%;
    height: 20%;
    border-radius: 1em;
    margin: 0% 32% 40px;
    border: 40px;
}
.tittle{
    color: white;
}
input {
    width: 100%;
    padding: 5px 10px;
    display: block;
    margin-bottom: 5px;
    background-color: white;
    box-sizing: border-box;}
    

    #subject{
    height: 80px;
    width: 100%;
    padding: 5px 10px;
    display: block;
    margin-bottom: 5px;
    background-color: white;
    box-sizing: border-box;}

button{
    text-align: right;
    background: black;
    color: white;
    cursor: pointer;
    
}