body{
    background-color: rgba(104, 117, 146, 0.87);
}
.register{
    width: 35%;
    padding: 15px 20px;
    display: block;
    /*box-sizing: border-box;*/
    border-radius: 2em;
    border: 10px solid black;
    margin: 8% 30%;
    
}
input{
    width: 100%;
    padding: 10px 10px;
    display: block;
    margin-bottom: 8px;
    box-sizing: border-box;
    border-radius: 0.5em;
}
#login{
    width: 20%;
    background-color: green;
    color: white;
}
#submitData{
    background-color: green;
    color: white; 
}
#sendingLayout{
    margin: 8% 30%;
}
 #successLayout{
    margin: 8% 30%;
 } 
 #failedLayout{
    margin: 8% 30%;
 }  

